/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* <---------- My CSS ---------> */

/* Styling the Body */
body {
    width: 80%; 
    margin: 0 auto;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(151, 202, 195);
    font-size: 1em;
}

/* Adding Margins to Main (to move it away from the navigation) */
main{
    margin: 20px 0px 0px 0px;
}

/* Styling the Title and Image (with Float) */
h1{
    position: absolute;
    top: 55%;
    background-color: inherit;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5em;
}

.site-title{
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

img {
    width: 100%;
}

/* Styling the Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.6);
    position: relative;
}

/* Adding the Article Image (with Float) */
.small-starfish{
    width: 25%;
    float: left;
    padding: 0px 20px 20px 0px;
}

/* Styling the Article */
h2{
    font-size: 2em;
    padding-bottom: 10px;
}

p{
    margin: 2%;
}


article,
section {
    width: 100%;
    box-sizing: border-box;
    padding: 1%;
}

/* Styling the Aside (Facts About Starfish) */
aside{
    box-sizing: border-box;
    width: 100%;
    padding: 2em 2em 2em 1em;
    float: left;
}

ul{
    padding-left: 20px;
}

/* Styling the Navigation */
nav ul li {
    display: inline-block;
    width: 30%;
    box-sizing: inherit;
    text-align: center;

}

nav ul a {
    font-size: 1.5em;
    text-transform: uppercase;
    display: block;
    color: inherit;
    text-decoration: none;
}

nav ul {
    list-style: none;
}

nav li{
    border-right: 2px solid gray;
}

nav li:last-child{
    border-right: none;
}

/* Styling the Aside and Section Headers */
aside h3,
section h3{
    font-size: 1.5em;
    padding-bottom: 1em;
    position: relative;
}

/* Styling the Section for the Contact Box */
section{
    position: relative;
    box-sizing: border-box;
    padding: 1em 1em 5em 1em;
    clear: left;
    margin: 0em 0em 5em 0em;
}

/* Styling the Contact Box and its Contents */
.contact-box {
    border: 1px solid black;
    padding: 1em;
}

.your-name{
    box-sizing: inherit;
    width: 100%;
    margin: 1em 0em 1em 0em;
}

.your-email{
    box-sizing: inherit;
    width: 100%;
    margin: 1em 0em 1em 0em;
}

.your-message{
    box-sizing: inherit;
    width: 100%;
    height: 5rem;
    margin: 1em 0em 1em 0em;
}

/* Styling the Radio Button Header */
h4{
    font-size: 1.3em;
    padding: 1em 0em 1em 0em;
}

/* Styling the Button */
button[type=submit] {
    padding:5px 5px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    font-size: 0.6em;
    padding: 1em 1em 1em 1em;
    margin: 2em 1em 1em 0em;
}

/* Styling the Footer */
footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 85%;
    padding: 2em 0em 2em 0em;
}